{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row col-md-6 offset-md-3">
            <div class="card text-center" style="width: 20rem;">
                <div class="card-body ">
                    <form method="post">
                        {% csrf_token %}
                        {% if trip %}
                            Are you sure you want to delete trip <h5><i>{{ trip.short_description }}</i></h5>
                            <a href="{% url 'trip-plan-details' trip.plan.pk %}">Go back</a>
                            <input class="btn btn-trip-login-logout m-1" type="submit" value="Confirm">
                        {% else %}
                            <p> Are you sure you want to delete {{ trip_plan.name }}? </p>
                            <a href="{% url 'trip-plan-details' trip_plan.pk %}">Go back</a>
                            <input class="btn btn-trip-login-logout m-1" type="submit" value="Confirm">
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}