{% extends 'base.html' %}\
{% block content %}
    <section class="pb-5 header text-center">
        <div class="container py-5 text-white">
             <header class="py-1">
                <h1 class="display-4 text-white">{{ trip.name }}</h1>
            </header>
            <div class="flex-column">

                <div class="text-lg-start">
                    <span class="tag tag--pill tag--sub tag--lg">
                        <small>Tags: </small>
                        {% for tag in trip.tags.all %}
                            <small>{{ tag }}</small>
                        {% endfor %}
                     </span>
                </div>

                <div class="text-lg-center">
                    <span class="tag tag--pill tag--sub tag--lg">
                        <small># Small friends images in group </small>
                    </span>
                </div>
                <div class="text-lg-end">
                     <form method="get" action="{% url 'edit-trip' trip.pk %}">
                         {% csrf_token %}
                         <input type="submit" value="Edit">
                     </form>
                    <form method="get" action="{% url 'delete-trip' trip.pk %}">
                         {% csrf_token %}
                         <input type="submit" value="Delete">
                     </form>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="col-lg-7 mx-auto">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">

                        <!-- Responsive table -->
                        <div class="table-responsive">
                            <table class="table m-0">
                                <tbody>
                                    <tr>
                                        <th scope="row">Country</th>
                                        {% for country in trip.countries.all %}
                                            <td>{{ country }}</td>
                                        {% endfor %}
                                         <!-- Call to action buttons -->
                                        <td>
{#                                            <form method="post" href="{% url 'trip-edit-form' trip.pk %}">#}
{#                                                <ul class="list-inline m-0">#}
{#                                                    <li class="list-inline-item">#}
{#                                                        <button class="btn btn-primary btn-sm rounded-1" type="button" data-toggle="tooltip" data-placement="top" title="Add"><i class="fa fa-table"></i></button>#}
{#                                                    </li>#}
{#                                                    <li class="list-inline-item">#}
{#                                                        <button class="btn btn-success btn-sm rounded-1" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>#}
{#                                                    </li>#}
{#                                                    <li class="list-inline-item">#}
{#                                                        <button class="btn btn-danger btn-sm rounded-1" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </form>#}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Cities</th>
                                        {% for city in trip.cities.all %}
                                            <td>{{ city }}</td>
                                        {% endfor %}

                                        <td>
{#                                            <form method="post" href="{% url 'trip-edit-form' trip.pk %}">#}
{#                                                <ul class="list-inline m-0">#}
{#                                                    <li class="list-inline-item">#}
{#                                                        <button class="btn btn-primary btn-sm rounded-1" type="button" data-toggle="tooltip" data-placement="top" title="Add"><i class="fa fa-table"></i></button>#}
{#                                                    </li>#}
{#                                                    <li class="list-inline-item">#}
{#                                                        <button class="btn btn-success btn-sm rounded-1" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>#}
{#                                                    </li>#}
{#                                                    <li class="list-inline-item">#}
{#                                                        <button class="btn btn-danger btn-sm rounded-1" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </form>#}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">From/To:</th>
                                        <td>{{ trip.day_from }} - {{ trip.day_to }}</td>
                                        <td>
{#                                            <form method="post" href="{% url 'trip-edit-form' trip.pk %}">#}
{#                                                 {% csrf_token %}#}
{#                                                <ul class="list-inline m-0">#}
{#                                                    <li class="list-inline-item">#}
{#                                                        <button class="btn btn-primary btn-sm rounded-1" type="button" data-toggle="tooltip" data-placement="top" title="Add"><i class="fa fa-table"></i></button>#}
{#                                                    </li>#}
{#                                                    <li class="list-inline-item">#}
{#                                                        <button class="btn btn-success btn-sm rounded-1" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>#}
{#                                                    </li>#}
{#                                                    <li class="list-inline-item">#}
{#                                                        <button class="btn btn-danger btn-sm rounded-1" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </form>#}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Created by:</th>
                                        <td>{{ trip.owner }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>Description:</p>
                            {% for description in trip.description_set.all %}
                                {{ description.content }}
{#                                <form method="post" href="{% url 'trip-edit-form' trip.pk %}">#}
{#                                    {% csrf_token %}#}
{#                                    <input type="submit" value="edit">#}
{#                                </form>#}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}