{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="card">
           <div class="card-body">
                <form class="form-inline" method="post">
                    <div class="form-row align-items-center">
                        {% csrf_token %}
                            {{ form.as_p }}
{#                        {% for field in form %}#}
{#                            {{ field }}#}
{#                        {% endfor %}#}

                        {% if registration_form.non_field_errors %}
                            <div style="color: red">
                                <p>{{registration_form.non_field_errors}}</p>
                            </div>

                        {% endif %}

                        <input type="submit" value="Edit">

                    </div>
                </form>
           </div>
        </div>
    </div>
{% endblock %}