{% extends 'base.html' %}
{% block content %}
    <section class="pb-5 header text-center">
        <div class="container">
            <div class="container py-5 text-white">
                <header class="py-1">
                    <h1 class="display-4 text-white">{{ trip.short_description }}</h1>
                </header>
            </div>
            <div class="container text-white">
                <p><i>{{ trip.date_range|first }}</i> - <i>{{ trip.date_range|last }}</i> </p>
                <p> {% if trip.countries.all|length > 1 %}Countries:{% else %}Country:{% endif %}
                    {% for country in trip.countries.all %}
                        {% if country == trip.countries.all|last %}
                            {{ country }}
                        {% else %}
                            {{ country }},
                        {% endif %}
                    {% endfor %}
                </p>
                {% if trip.cities.all %}
                    <p> {% if trip.cities.all|length > 1 %}Cities:{% else %}City:{% endif %}
                        {% for city in trip.cities.all %}
                            {% if city == trip.cities.all|last %}
                                {{ city }}
                            {% else %}
                                {{ city }},
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
            <div class="container">
                <div class="row col-md-6 offset-md-3">
                    <form method="post" id="form-container">
                        {% csrf_token %}
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">From</label><input type="date" class="form-control" name='day_from' id='day_from' value="{{ trip.date_range.0  }}"></div>
                            <div class="col-md-6"><label class="labels">To</label><input type="date" class="form-control" name='day_to' id='day_to' value="{{ trip.date_range.1 }}"></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">City</label><input type="text" class="form-control" placeholder="city" name='city' value='{{ trip.cities.all.get }}'></div>
                            <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" name='country' value='{{ trip.countries.all.get }}'></div>
                        </div>
                        <div class="row mt-2 justify-content-center mb-5">
                            <div class="col-md-6"><label class="labels">Short Description</label><input type="text" class="form-control" placeholder="description" name='short_description' value="{{ trip.short_description }}"></div>
                        </div>

                       {{ formset.management_form }}
                        {% for desc_form in formset %}
                        <div class="row mt-2 js-description-form">
                            <div class="col-md-12">
                                {{ desc_form }}
                            </div>
                        </div>
                        {% endfor %}
                        <button class="btn btn-success m-1" id="add-form" type="button">Add</button>
                        <button class="btn btn-edit m-1" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
        let descriptionForm = document.querySelectorAll(".js-description-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

        let formNum = descriptionForm.length-1
        addButton.addEventListener('click', addForm)

        function addForm(e){
            e.preventDefault()

            let newForm = descriptionForm[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.insertBefore(newForm, addButton)

            totalForms.setAttribute('value', `${formNum+1}`)
        }
{% endblock %}