{% extends 'base.html' %}
{% block content %}
    <section class="pb-5 header text-center">
    {% if trip_plan %}
        <div class="container py-5 text-white">
             <header class="py-1">
                <h1 class="display-4 text-white">{{ trip_plan.name }}</h1>
            </header>
        </div>
    {% endif %}
        <div class="container">
            <div class="card">
                <div class="card-body">
                      <form method="post">
                        {{ formset.management_form }}
                        <table>
                            {% for form in formset %}
                            {{ form }}
                            {% endfor %}
                        </table>
                    </form>

                </div>
            </div>
        </div>
    </section>
{% endblock %}