{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 col-lg-4">
                <form method="get" class="search-bar justify-content-start">
                    {% csrf_token %}
                    <input type="text" class="form-control" name="search_query" id="id_q_large" placeholder="Search by name, country, city, tag">
                    <label class="form-label" for="id_q_large"></label>
                </form>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="grid grid--three">
            {% for trip_plan in trip_plans %}
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="container">
                            <div class="card-title"><h2>{{ trip_plan.name }}</h2></div>
                                <p>From: <u>{{ trip_plan.dates|first }}</u> To: <u>{{trip_plan.dates|last}}</u></p>
                                <p>Countries: {% for country in trip_plan.countries %}{{ country }} {% endfor %}</p>
                                <p>Cities: {% for city in trip_plan.cities %}{{ city }} {% endfor %}</p>
                                <p>Created by: {{ trip_plan.owner }}</p>
                                <p>{% for tag in trip_plan.tags.all %}{{ tag }} {% endfor %}</p>
                            </div>
                            <a href="{% url 'trip-plan-details' trip_plan.pk %} ">
                                <button style="background-color: #3C70A1" class="btn btn-primary" type="button">More Details</button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}