{% extends 'base.html' %}\
{% block content %}
    <section class="pb-5 header text-center">
        <div class="container py-5 text-white">
             <header class="py-1">
                <h1 class="display-4 text-white">{{ trip_plan.name }}</h1>
            </header>
            <div class="flex-column">

                <div class="text-lg-start">
                    <span class="tag tag--pill tag--sub tag--lg">
                        <small>Tags: </small>
{#                        {% for tag in trip.tags.all %}#}
{#                            <small>{{ tag }}</small>#}
{#                        {% endfor %}#}
                     </span>
                </div>

                <div class="text-lg-center">
                    <span class="tag tag--pill tag--sub tag--lg">
                        <small># Small friends images in group </small>
                    </span>
                </div>
                <div class="text-lg-end">
{#                     <form method="get" action="{% url 'trip' trip.pk %}">#}
{#                         {% csrf_token %}#}
                         <input type="submit" value="Edit the Trip" name="edit">
{#                     </form>#}
{#                    <form method="get" action="{% url 'delete-trip' trip.pk %}">#}
{#                         {% csrf_token %}#}
                         <input type="submit" value="Delete All Trip">
{#                    </form>#}
{#                    <form method="get" action="{% url 'add-small-trip' trip.pk %}">#}
{#                         {% csrf_token %}#}
                         <input type="submit" value="Add small trip">
{#                    </form>#}
                </div>
            </div>
        </div>
        {% for trip in trips %}
            <div class="column">
                <div class="col-lg-7 mx-auto">
                    <div class="card border-0 shadow">
                        <div class="card-body p-5">

                            <!-- Responsive table -->
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Countries</th>
                                            {% for country in trip.countries.all %}
                                                <td>{{ country }}</td>
                                            {% endfor %}
                                        </tr>

                                        <tr>
                                            <th scope="row">Cities</th>
                                            {% for city in trip.cities.all %}
                                                <td>{{ city }}</td>
                                            {% endfor %}
                                        </tr>

                                        <tr>
                                            <th scope="row">From/To</th>
                                            <td>
                                                {% for day in trip.date_range %}
                                                    {{ day|date:'Y-m-d' }} -
                                                {% endfor %}
                                        </tr>

                                        <tr>
                                            <th scope="row">Created By</th>
                                            <td>{{ trip.owner }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>Description</p>
                                {% for description in trip.description_set.all %}
                                    {{ description.content }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
        </div>

{#    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#}
{#    # TODO zrobić szczegóły widoku wycieczki na dany dzień itp #}
        <div class="container">
            <div class="card">
                <div class="card-body">
                    Days:   {% for day in trip.date_range %}
                               {{ day|date:'Y-m-d' }}
                            {% endfor %}
                    <p>
                        Cities: {% for city in trip.cities.all %}
                            {{ city }}
                        {% endfor %}
                    </p>

                </div>
            </div>
        </div>
    {% endfor %}
{#        {% if edit %}#}
{#            <div class="container">#}
{#               <div class="card">#}
{#                   <div class="card-body">#}
{#                        <form class="form-inline" method="post">#}
{#                            <div class="form-row align-items-center">#}
{#                                {% csrf_token %}#}
{#                                    {{ form.as_p }}#}
        {#                        {% for field in form %}#}
        {#                            {{ field}}#}
        {#                            {% for error in field.errors %}#}
        {#                                <p style="color: red" class="">{{ error }}</p>#}
        {#                            {% endfor %}#}
{##}
        {#                        {% endfor %}#}
{##}
{#                                {% if registration_form.non_field_errors %}#}
{#                                    <div style="color: red">#}
{#                                        <p>{{registration_form.non_field_errors}}</p>#}
{#                                    </div>#}
{##}
{#                                {% endif %}#}
{##}
{#                                <input type="submit" value="Create">#}
{##}
{#                            </div>#}
{#                        </form>#}
{#                   </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endif %}#}
    </section>
{% endblock %}