{% extends 'base.html' %}
{% block content %}

    <style>
        .card-signin {
          width: 100%;
          max-width: 400px;
          padding: 15px;
          margin: auto;
        }

        .form-signin input[type="email"] {
        margin-bottom: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
        margin-bottom: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        }
        .form-gap {
            padding-top: 10px;
        }
    </style>

    <div class="container-fluid form-gap">
        <div class="row justify-content-center">
            <div class="card card-signin">
                <div class="card-body">
                    <form class="form-signin" method="post">
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="m-2">
                                {{ field }}
                            </div>
                        {% endfor %}

                        {% for field in login_form %}
                            <div>
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        {% if login_form.non_field_errors %}
                            <div style="color: red">
                                <p>{{login_form.non_field_errors}}</p>
                            </div>
                        {% endif %}
                        <button class="btn btn-trip-login-logout" type="submit">Log in</button>
                    </form>

                    <div class="d-flex  flex-column my-4">
                        <a style="color: #034A70" class="m-auto" href="{% url 'password_reset' %}">Reset password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}