{% extends 'base.html' %}
{% block content %}
    <style>
        .card-signin {
          width: 100%;
          max-width: 400px;
          padding: 10px;
          margin: auto;
        }

        .form-signin input[type="email"] {
        margin-bottom: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        }
        .form-signin input[type="text"] {
        margin-bottom: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        }
    </style>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card card-signin">
                <div class="card-body">
                    <form class="form-signin" method="post">
                        {% csrf_token %}
                        {% for field in registration_form %}
                            {% for error in field.errors %}
                                <p style="color: red" class="">{{ error }}</p>
                            {% endfor %}
                            {{ field }}
                        {% endfor %}

                        {% if registration_form.non_field_errors %}
                            <div style="color: red">
                                <p>{{registration_form.non_field_errors}}</p>
                            </div>
                        {% endif %}
                        <button class="btn btn-trip-login-logout" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}