{% extends 'base.html' %}
{% block content %}
    <style>
        body {
            background: #3C70A1
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #3C70A1
        }

        .labels {
            font-size: 11px
        }

        form input {
            background-color: red;
        }

        .btn-margin {
            margin-bottom: 50px;
        }
    </style>

    <section class="pb-5 header text-center">
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 d-flex flex-column border-right">
                    <div class="mb-auto p-2">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                            <img class="img-thumbnail" src="{{ profile.profile_image.url }}" alt="user-image">
                            <span class="font-weight-bold">{{ profile.get_full_name|default:'Name and Surname' }}</span>
                            <span class="text-black-50">{{ profile.email }}</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-end align-self-center btn-margin">
                        <a href="{% url 'password_change' %}"><button class="btn btn-trip-login-logout" type="submit">Change Password</button></a>
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels" for="first_name">Name</label><input type="text" class="form-control" id="first_name" placeholder="first name" name='first_name' value="{{ profile.first_name }}"></div>
                                <div class="col-md-6"><label class="labels" for="last_name">Surname</label><input type="text" class="form-control" id="last_name" placeholder="surname" name='last_name' value="{{ profile.last_name }}"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12"><label class="labels" for="username">Username</label><input type="text" id="username" class="form-control" placeholder="enter address" name='username' value="{{ profile.username }}"></div>
                                <div class="col-md-12"><label class="labels" for="short_intro">Bio</label><input type="text" id="short_intro" class="form-control" placeholder="short intro" name='short_intro' value="{{ profile.short_intro|default_if_none:'' }}"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6"><label class="labels" for="location">Location</label><input type="text" id="location" class="form-control" placeholder="country" name="location" value="{{ profile.location|default_if_none:'' }}"></div>
                            </div>
                            <div class="mt-5 text-center"><button class="btn btn-trip-login-logout" type="submit">Save Profile</button></div>
                            {% if registration_form.errors %}
                                <div style="color: red">
                                    <p>{{registration_form.non_field_errors}}</p>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <div class="col-md-3 d-flex flex-column">
                     <div class="col d-flex align-items-end align-self-center btn-margin ">
                        <a href="#"><button class="btn btn-danger" type="submit">Delete Account</button></a>
                     </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}