{% extends 'base.html' %}
{% block content %}
    <style>
    body {
    background: #3C70A1
}

.form-control:focus {
    box-shadow: none;
    border-color: #3C70A1
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #3C70A1;
    color: #fff;
    cursor: pointer;
    border: solid 1px #3C70A1
}

form input {
    background-color: red;
}
    </style>

    <section class="pb-5 header text-center">
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="{{ profile.profile_image.url }}" alt="user-image">
                        <span class="font-weight-bold">{{ profile.get_full_name }}</span>
                        <span class="text-black-50">{{ profile.email }}</span>
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            {{form.as_p}}
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" name='first_name' value="{{ profile.first_name }}"></div>
                                <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" placeholder="surname" name='last_name' value="{{ profile.last_name }}"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12"><label class="labels">Username</label><input type="text" class="form-control" placeholder="enter address" name='username' value="{{ profile.username }}"></div>
                                <div class="col-md-12"><label class="labels">Bio</label><input type="text" class="form-control" placeholder="short intro" name='short_intro' value="{{ profile.short_intro }}"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6"><label class="labels">Location</label><input type="text" class="form-control" placeholder="country" name="location" value="{{ profile.location }}"></div>
                            </div>
                            <div class="mt-5 text-center"><button class="btn btn-trip-login-logout" type="submit">Save Profile</button></div>
{#                            {% if registration_form.errors %}#}
{#                                <div style="color: red">#}
{#                                    <p>{{registration_form.non_field_errors}}</p>#}
{#                                </div>#}
{#                            {% endif %}#}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}